/data/kermany_dataset/
/lightning_logs/
/saved_models/
/data/
*.pth
/*.pth
/arvo_2023/lightning_logs/
/FedAvg/ResNet/lightning_logs/
/FedSR/ResNet/lightning_logs/
/FedMRI/ResNet/lightning_logs/
/FedProx/ResNet/lightning_logs/
/FedAvg/ViT/lightning_logs/
/FedSR/ViT/lightning_logs/
/FedMRI/ViT/lightning_logs/
/FedProx/ViT/lightning_logs/

__pycache__/
models/__pycache__/
centralized_learning/__pycache__/
/FedProx/__pycache__/
/FedAvg/__pycache__/
/FedMRI/__pycache__/
/FedSR/__pycache__/
/FedGain/__pycache__/
/FedAlign/ResNet/lightning_logs/
/centralized_learning/lightning_logs/
/data/
/FedADG/ResNet/lightning_logs/
/FedAvg/ResNet/checkpoints/
/FedProx/ResNet/checkpoints/
/FedSR/ResNet/checkpoints/
/FedMRI/ResNet/checkpoints/
/tunning/localModel/
/tunning/global/
/FedAP/ResNet/lightning_logs/
/FedAP/ViT/lightning_logs/
